{% extends "base/base.html" %}
{% load static %}
{% block page_title %}Spack Monitor Dashboard{% endblock %}
{% block css %}
<style>
code {
    color: rgb(0, 123, 255);
    display: inline-block;
    max-width: 1400px;
    padding: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px !important;
}
</style>
{% endblock %}
{% block content %}

<div class="buildgroup">
<h3 class="buildgroupname">
  <a href="#" class="grouptrigger">
    Spack Monitor Builds{% if tag %}: {{ tag }}{% endif %} {% if owner %} owned by {{ owner }}{% endif %}
  </a>
  <span class="buildnums" align="right">{{ builds.count }}</span><span style="padding-left:50px">
{% for tag in tags %}{% if tag %}<a style="color:white; padding-left:3px" href="{% url 'main:builds_by_tag' tag %}"><span class="badge badge-primary">{{ tag }}</span></a>{% endif %}{% endfor %}</span>
</h3>
<table class="tabb compact" id="builds_table" width="100%" cellspacing="0" cellpadding="4" border="0">
  <thead>
    <tr class="table-heading">
      <th rowspan="2" class="column-header" style="">
        Spec
        <span class="glyphicon glyphicon-none"></span>
      </th>
      <th rowspan="2" class="column-header">
        Environment
        <span class="glyphicon glyphicon-none"></span>
      </th>
      <th rowspan="2" class="column-header">
        Compiler
        <span class="glyphicon glyphicon-none"></span>
      </th>
    </tr>
    <tr class="table-heading">
      <th class="column-header" style="">
        Status
        <span class="glyphicon glyphicon-none"></span>
      </th>
      <th class="column-header">
        Success
        <span class="glyphicon glyphicon-chevron-down"></span>
      </th>
      <th class="column-header">
        Error
        <span class="glyphicon glyphicon-chevron-down"></span>
      </th>
      <th class="column-header">
        Tags
        <span class="glyphicon glyphicon-chevron-down"></span>
      </th>
      <th class="column-header">
        Updated At
        <span class="glyphicon glyphicon-chevron-down"></span>
      </th>
   </tr>
  </thead>
  <tbody></tbody>
</table>
</div>
</div>

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $("#builds_table").dataTable({"order": [[ 3, "asc" ]], "pageLength": 100, "processing": true, "serverSide": true, "ajax": "{% url 'api:internal_apis:builds_table' %}{% if tag %}?tag={{ tag }}{% endif %}", "lengthMenu": [[25,50,100,250], [25,50,100,250]],
    columnDefs: [ {
    targets: 3,
    createdCell: function (td, cellData, rowData, row, col) {
        console.log(row);
        if (( rowData[3] === 'SUCCESS' ) && (row % 2 != 0)) {
            $(td).css('background-color', '#bfefbf');
        } else if ((rowData[3] === 'SUCCESS') && (row % 2 == 0)) {
            $(td).css('background-color', '#b4dcb4');
        } else if ((rowData[3] === 'FAILED') && (row % 2 != 0)) {        
            $(td).css('background-color', '#de6868');  
        } else if ((rowData[3] === 'FAILED') && (row % 2 == 0)) {        
            $(td).css('background-color', '#d95454');
        } else if ((rowData[3] === 'CANCELLED') && (row % 2 != 0)) {
            $(td).css('background-color', "#fd9e40");
        } else if ((rowData[3] === 'CANCELLED') && (row % 2 == 0)) {
            $(td).css('background-color', "#f39130");
        }
    }
  }] 
  });
    $("#builds_table").prepend('<thead><tr class="table-heading1"><td colspan="3" rowspan="1" class="nob"></td><td colspan="1" rowspan="1" class="center-text">Build</td><td colspan="2" rowspan="1" class="center-text">Phases</td><td colspan="3" rowspan="1" class="center-text"></td><td class="nob" align="right"></td></tr></thead>')
});
</script>
{% endblock %}
